{% extends "base.html.twig" %}

{% block title %}Gestion des produits
{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="text-center alert alert-success">
      {{ message }}
    </div>
{% endfor %}

	<a href="{{ path('admin_new_produit') }}" class="btn btn-success mb-3">Ajouter un produit</a>

	<table class="table table-bordered text-center">

		<thead>
			<tr>
				{% for colonne in colonnes %}
					<th>{{ colonne }}</th>
				{% endfor %}
				<th>Catégorie</th>
				<th>Editer</th>
				<th>Supprimer</th>
			</tr>
		</thead>

		<tbody>
			{% for data in produit %}
				<tr>
					<td>{{data.id}}</td>
					<td>{{data.nom}}</td>
					<td>{{data.description}}</td>
					<td>{{data.prix}}</td>

					<td><img src="{{ asset('images/produit/' ~ data.image) }}" alt="" style="width: 150px;">
					</td>
					<td>{{data.updatedAt|date("d/m/Y à H:i:s")}}</td>

					<td>{{data.categorie.titre}}</td>
					<td>
						<a href="{{ path('admin_edit_produit', {'id': data.id}) }}" class="btn btn-warning text-dark">
							<i class="fa fa-edit"></i>
						</a>
					</td>
					<td>
						<a href="{{ path('delete_produit', {'id': data.id}) }}" class="btn btn-danger text-dark">
							<i class="fas fa-trash-alt"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>

  <a href="{{ path('app_admin') }}" class="btn btn-primary"><i class="fas fa-chevron-circle-left"></i>Retour</a>

{% endblock %}
